<html lang="en">

<%- include("partials/head"); %>

<body>
  <%- include("partials/top-nav-board"); %>
  <%- include("partials/new-thread-modal"); %>

  <%- include("partials/page-title", {title: "Active conversations"}); %>


  <!-- sort by postId -->
  <%
    orderedContainers = [];
    orderedContainers = threadsAndRecentPosts.sort( (a, b) => {
      if ( a.lastPostDate < b.lastPostDate ){
        return 1;
      }
      if ( a.lastPostDate > b.lastPostDate ){
        return -1;
      }
      return 0;
      });
  %>

  <!-- Begin display posts -->
  <% orderedContainers.forEach( container=> { %>
  <%- include('partials/board-thread', {"container": container}) %>
  <br>
  <% }); %>
  <!-- End display posts -->


  <script src="/js/newThreadModal.js"></script>
</body>

</html>